<footer>
  <div class='row'>
    <div class="col-md-3">
    <a href="">Quienes somos</a>
    <a href="">Contacto</a>
    <a href="">Preguntas Frecuentes</a>
    <a hrvef="">Nuestros clientes</a>
    </div>
  <div class='col-md-4'>

    <div class='social'>
      <p>Encuentranos en:</p>

      <a href="https://www.facebook.com/SNimport"><i class="fa fa fa-facebook fa-3x" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa fa-twitter fa-3x" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
  </div>
</footer>
